@font-face {
  font-family: "kemco";
  src: url(./asset/fonts/Kemco\ Pixel\ Bold.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "kemco";
}
.navbar-section {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
  background-color: #a9a9a9;
}
.navbar-section .navbar-container {
  width: 80%;
  margin: 0 auto;
}
.navbar-section .navbar-container .navbar-content {
  display: flex;
  align-items: center;
}
.navbar-section .navbar-container .navbar-brand {
  display: flex;
  align-items: center;
  width: 40%;
}
.navbar-section .navbar-container .navbar-brand .navbar-img {
  width: 20%;
}
.navbar-section .navbar-container .navbar-brand .navbar-img img {
  width: 100%;
}
.navbar-section .navbar-container .navbar-brand .navbar-content h2 {
  font-size: 24px;
  padding-top: 16px;
}

.navbar-section .navbar-container .navbar-lists ul {
  display: flex;
  align-items: center;
}
.navbar-section .navbar-container .navbar-lists ul li {
  list-style-type: none;
  margin-right: 20px;
  cursor: pointer;
}
.navbar-section .navbar-container .navbar-lists ul li a{
    text-decoration: none;
    color: black;
}
.navbar-section .navbar-container .navbar-lists ul li a:hover{
    color: orangered;
}
.navbar-section .navbar-container button {
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 18px;
  background-color: orangered;
  color: black;
  border-radius: 20px;
  word-wrap: none;
  border: 2px solid white;
  cursor: pointer;
}
/* hero section start */
.hero-section {
  background-color: black;
  height: 100vh;
}
.hero-section .hero-container {
  width: 80%;
  margin: 0 auto;
}
.hero-section .hero-images {
  background-color: orangered;
  width: 26%;
  transform: translateY(80px);
  padding-bottom: 50px;
}
.hero-section .hero-images .twitter-img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  margin-left: 30px;
}
.hero-section .hero-images .twitter-img img {
  width: 100%;
  padding-top: 30px;
}

.hero-section .hero-contant-container {
  display: flex;
  align-items: start;
}
.hero-section .hero-contant-container .hero-content p {
  color: white;
  width: 60%;
  margin: 0 auto;
  line-height: 30px;
  padding-top: 200px;
}
.hero-section .hero-contant-container .hero-content p span {
  color: orangered;
  padding-top: 20px;
  display: flex;
  justify-content: end;
}
/* tokenomics section start */
.tokenomics-section {
  background-color: #a9a9a9;
  text-align: center;
  padding-bottom: 50px;
}
.tokenomics-section h2 {
  color: orangered;
  font-size: 50px;
  padding-top: 50px;
  text-transform: uppercase;
}
.tokenomics-img {
  width: 30%;
  margin-left: 30px;
}
.tokenomics-section .tokenomics-container {
  display: flex;
  align-items: center;
}
.tokenomics-section .tokenomics-img img {
  width: 100%;
}
.tokenomics-container .tokenomics-content p {
  font-size: 16px;
  padding-left: 30px;
  color: black;
}
.tokenomics-container .tokenomics-content .adress {
  background-color: orangered;
  padding: 10px ;
  margin-top: 30px;
}
.tokenomics-container .tokenomics-content h2{
    font-size: 20px;
}
.tokenomics-container .tokenomics-content{
    padding: 10px 30px;
    border-radius: 20px;
    background-color: white;
    color: orangered;
    border: 2px solid black;
    padding-right: 20px;
    padding-bottom: 30px;
}
.tokenomics-container .tokenomics-content button {
    margin-top: 40px;
   
}

.tokenomics-container .tokenomics-content button a{
  text-decoration: none;
  padding: 14px 30px;
  border-radius: 20px;
  background-color: white;
  color: orangered;
  border: 2px solid black;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 18px;
}
.tokenomics-container .tokenomics-content button a:hover{
  color: white;
  background-color: orangered;
}
/* about-section */
.about-section{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.about-section h2{
    text-transform: uppercase;
    font-size: 50px;
   padding-top: 50px;
}
.about-section p{
    text-transform: capitalize;
    font-size:22px;
    padding: 20px 0;
    line-height: 30px;
}
.about-section span{
    color: orangered;
    text-transform: uppercase;
    font-size: 22px;
padding-bottom: 50px;
}
/* footer section */
.footer-section{
    background-color: black;
    height: 50vh;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-images{
    margin-left: 100px;
}
.footer-content h2{
    color: white;
    padding-top: 30px;
}
.footer-content h4{
    color: white;
    padding-top: 30px;
}